version: '3.8'

services:
  db:
    image: postgres:15
    container_name: db-magang-big
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest
    container_name: mongo-promag
    env_file:
      - ./backend/.env
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data: